body{
    background:url(./images/Comic\ Bachground.jpg);
    background-size: cover;
}

.logo{
border-style: ridge;
border-radius: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.pure-input-rounded{
  width: 825px;
}


.pure-form button{
  outline-color: blue;
  cursor: pointer;
  background: crimson;
  color: #fff;
}

.character-info h1{
  border-bottom: black;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
}