* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body {
    background-image: url("../images/ComicBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 100%;
    display: flex;
}

.title h1 {
text-align: center;
}

.container {
    width: 90%;
    margin: auto;
    padding: 3em;
    position: absolute
    transdorm: translate(-50%, -50%);
    left: 50%;
    right: 50%;
    top: 1em;
    bottom: 1em;
}
.input-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
}
input {
    padding: 1em .5em;
    background-color: grey ;
    border: none;
    border-radius: .5em;
    cursor: default;
}
button {
    padding: 1em .5em;
    background-color:crimson;
    border-radius: .5em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color:darkred;
}
.display-container {
    padding: 1em;
    text-align: center;
    display: flex;
}

#results {
    text-align: center;
    background-color: crimson;
    color: #fff;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    border: ridge black;
}

#saved-giffy {
    text-align: center;
    background-color: crimson;
    color: #fff;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    border: ridge black;
}

.list {
    position: absolute
    width 60%;
    background-color: crimson;  
    color: black;
    z-index: 1;
}
.autocomplete-item {
    padding: 0.5em;

}
.autocomplete-item:hover {
    background-color: #46e0f5;
    color: black;
    cursor: pointer;
}
#superCard {
    background-color:crimson;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: grid;
    color: #fff;
    border: ridge black;
     
}

.pop-Card {
    background-color: grey;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: grid;
    color: black; 
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}